<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-items-center d-flex">
      <strong style="font-size: 30px;">&copy; 2024 Storeapp</strong>
      <div class="ml-auto d-flex">
        <a href="https://www.facebook.com" target="_blank" class="nav-link text-white">
          <i style="font-size: 20px;" class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="nav-link text-white">
          <i style="font-size: 20px;" class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="nav-link text-white">
          <i style="font-size: 20px;" class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
</div>
  



